body
{

    background: url(ul.jpg) ;

}

 

.login-box

{

background-color: white;

width: 350px;

padding: 50px;

margin: auto;

margin-top: 100px;

border-radius:21px;

}


input

{

width: 100%;

padding: 12px 10px;

box-sizing: border-box;

font-size: 19px;

}

 

input[type=submit]

{

background-color: crimson;

border-radius:20px;

color: white;

}


h4 legend{
    font-size: 210px;
}

label{


font-size: 30px;
font-family: fantasy;

}